div#t0 {
    background: antiquewhite;
}
div#t1 {
    background: url('../assets/lista-web-sfondo.jpg');
    background-position: left;
    background-size: cover;
    color: white;
}

div#t2 {
    background: peachpuff;
    background: antiquewhite;
}